  <% if current_user.follows?(@user) %>
    <li><%= link_to "Unfollow", unfollow_user_path(user_id: @user.id), class: "btn btn-primary buttons"%></li>
  <% else %>
    <li><%= link_to "Follow", follow_user_path(user_id: @user.id), class: "btn btn-primary buttons"%></li>
  <% end %>
