<div class="row ship-holder">
  <div class="col-md-2 col-sm-2 ship-left">
    <img src="https://unsplash.it/100/100/?random
" alt="" />
  </div>
  <div class="col-md-10 col-sm-10 ship-right">
    <div class="ship-body">
      <div class="ship-body-header">
        <div class="username">
          <%= ship.user.username %>
        </div>
        <div class="created-at">
          at <%= ship.created_at.strftime("%I:%M%p") %>
        </div>
      </div>
      <div class="ship-body-body">
        <%= ship.body %>
      </div>
      <div class="ship-body-footer">
        <p>Posted on <%= ship.created_at.to_date.to_s %></p>
      </div>
    </div>
  </div>
</div>
