<div class="row ship-container">
  <div class="col-md-1 ship-user-avatar">

  </div>
  <div class="col-md-11 ship-body">
    <div class="ship-body-header">
      <p><%= ship.user.username %></p>
    </div>
    <div class="ship-body-body">
      <%= ship.body %>
    </div>
    <div class="ship-body-footer">

    </div>
  </div>
</div>
