<div class="container">
  <div class="row">
    <div class="col-md-4 user-info">
      <%= @user.username %>

    </div>
    <div class="col-md-8 timeline">
      <%= render @ships %>
      <div class="row">
        <%= paginate @ships %>
      </div>
    </div>
  </div>
</div>
