// Place all the styles related to the ships controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$primary: #404040;
$secondary: #85d6ff;
$grey: #abb8c3;


.ship-container {
  border: 1px solid $grey;
  border-top: 0;
}

.ship-body {
  height: 10vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: .5em;

  .ship-body-header {
    font-weight: bold;
    color: $secondary;
    align-self: flex-start;
  }

  .ship-body-body {
    margin-top: .5em;
    margin-bottom: .5em;
    color: $primary;
    align-self: flex-start;
  }

  .ship-body-footer {
    color: $grey;
    align-self: flex-end;
  }

  .ship-body-footer p {
    margin: 0;
  }

}
