// Place all the styles related to the ships controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$primary: #404040;
$secondary: #66ccff;
$grey: #d9d9d9;


.ship-holder {
  border: 1px solid $grey;
  border-top: 0;

  .ship-left {
    margin-top: .5em;
    margin-bottom: .5em;

    img {
      width: 100%;
    }

  }

  .ship-right {
    position: relative;
    bottom: 0;
    padding: 0;
    padding-right: .5em;
    height: 100%;
  }
}

.ship-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: .5em;
  height: 100%;

  .ship-body-header {
    flex: 1;
    align-self: flex-start;

    .username {
      display: inline-block;
      font-weight: bold;
      color: $secondary;
    }

    .created-at {
      display: inline-block;
      color: #ccc;
      font-size: 10px;
    }
  }

  .ship-body-body {
    flex: 1;
    margin-bottom: .5em;
    color: $primary;
    align-self: flex-start;
  }

  .ship-body-footer {
    flex: 1;
    color: $grey;
    align-self: flex-end;
  }

  .ship-body-footer p {
    margin: 0;
  }

}

.pagination {
  color: $secondary;

  .active a {
    background-color: $secondary !important;
    border-color: $secondary !important;
  }

  .page a {
    color: $secondary;
  }

  .gap a {
    color: $secondary;
  }

  .next a {
    color: $secondary;
  }

  .last a {
    color: $secondary;
  }

}
