// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.follow-logic {
padding: 10px;
display: inline-block;
}

div ul li {
  padding: 10px;
  display: inline-block;

}
