// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.buttons {
  color: #fff !important;
  margin: 0;
  vertical-align: bottom;
  display: inline-block !important;
}

.follow-logic {
  display: inline-block !important;

}
